:root {
  /*
  --background: #ffffff;
  --foreground: #171717;
  */
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


body {
  background: var(--background);
  /*
  color: var(--foreground);
  */
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

/* this is the magic for the gradient */
div {
  /*background-image: linear-gradient(red, blue);*/
  color: transparent;
  background-clip: text;
}

section {
  border-radius: 1em;
  padding: 1em 1em 1em 1em;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
